@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(213, 252, 212);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(37, 125, 34);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(101, 140, 99);
}

.basico {
    color: rgb(101, 140, 99);
}

.intermediario {
    color: rgb(100, 100, 218);
}

.avancado {
    color: rgb(177, 112, 239);
}

.destaque {
    background-color: rgb(176, 234, 234);
}